@import "./utils/vars";
@import "./utils/mixins";
@import "./utils/globals";
@import "./components/header";
@import "./components/effective-solutions";
@import "./components/lorem";
@import "./components/team";
@import "./components/our-customers";
@import "./components/footer-main";
@import "./components/footer-form";
@import "./components/modal";
@import "./components/portfolio.main";
@import "./components/mobile_menu";
