.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 0;
}
.section-index {
  margin: 0 auto;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/4.1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  &__container {
    padding-top: 100px;
    padding-bottom: 40px;
  }
  &__header {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    margin: 0 auto;
    width: 696px;
  }
  &__box {
    display: flex;
    justify-content: center;
  }
  &__button {
    background: var(--brand-color);
    color: var(--white);
    cursor: pointer;
    font-family: "roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    width: 200px;
    border-radius: 4px;
    padding: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__button:hover,
  &__button:focus {
    color: none;
  }
}
