.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-index {
  margin: 0 auto;
  max-width: 480px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero480px1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media (main-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2ppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero480px2x.jpg);
  }
  @include tablet {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero768px1x.jpg);
    @media (main-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2ppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero768px2x.jpg);
    }
  }
  @include desktop {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero1600px1x.jpg);
    @media (main-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2ppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero1600px2x.jpg);
    }
  }
  &__container {
    @include desktop {
      padding-top: 100px;
      padding-bottom: 40px;
    }
  }
  &__header {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    margin: 0 auto;
    width: 365px;
    @include desktop {
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
  &__box {
    display: flex;
    justify-content: center;
  }
  &__button {
    background: var(--brand-color);
    color: var(--white);
    cursor: pointer;
    font-family: "roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    width: 200px;
    border-radius: 4px;
    padding: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__button:hover,
  &__button:focus {
    color: none;
  }
}
