.footer-form {
  padding: 50px 0 0px 0px;
  margin: 0;
  &__text {
    width: 207px;
    height: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
  }
  &__container {
    padding-top: 5px;
  }
  &__input-button {
    display: flex;
    gap: 15px;
  }
  &__input {
    background-color: var(--less-black);
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 15px;
    color: var(--white);
  }
  &__input:hover,
  &__input:focus {
    border-color: var(--brand-color);
  }
  &__button {
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: var(--brand-color);
    color: var(--white);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__button:hover,
  &__button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  &__icon {
    fill: var(--white);
    position: relative;
    top: 5px;
    left: 20px;
  }
  &__label {
    padding-bottom: 12px;
  }
}
