.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 0;
}
.contact {
  padding: 10px;
}
.dots {
  list-style: none;
}
.blue-line-index {
  position: relative;
  top: 20px;
  border-radius: 2px;
  &::after {
    content: "";
    position: absolute;
    width: 53px;
    height: 4px;
    left: 15px;
    top: 9px;
    background-color: var(--brand-color);
  }
}
.blue-line-portfolio {
  position: relative;
  top: 20px;
  border-radius: 2px;
  &::after {
    content: "";
    position: absolute;
    width: 58px;
    height: 4px;
    left: 15px;
    top: 9px;
    background-color: var(--brand-color);
  }
}
.header-main {
  background-color: var(--white);
  border-bottom: 1px solid var(--thin-line);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    height: 80px;
    width: 1200px;
  }
  &__logo-navigation {
    display: flex;
  }
  &__logo {
    text-decoration: inherit;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--black);
    padding: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__logo:hover {
    color: none;
  }
  &__element {
    color: var(--brand-color);
  }
  &__navigation {
    display: flex;
    padding-top: 15px;
    padding-left: 90px;
  }
  &__navigation-contact {
    display: flex;
    padding-right: 40px;
  }
  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    padding: 0 15px;
  }
  &__link-index {
    color: var(--brand-color);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    width: 53px;
  }
  &__link-portfolio {
    color: var(--brand-color);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    width: 58px;
  }
  &__links {
    text-decoration: inherit;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__links:hover {
    color: var(--brand-color);
  }
  &__contact-list {
    display: flex;
    align-items: baseline;
  }
  &__contact-items {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--grey);
  }
  &__envelope {
    fill: var(--border-customers);
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__phone {
    fill: var(--border-customers);
    cursor: pointer;
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__links:hover > &__envelope,
  &__links:hover > &__phone {
    fill: var(--brand-color);
  }
}
