.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 0;
}
.dots {
  list-style: none;
}
.section-lorem {
  padding-bottom: 50px;
  &__display {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
  }
  &__box {
    width: 270px;
    background-color: var(--less-white);
    border-radius: 4px;
    padding: 25px 100px;
  }
  &__box-border {
    display: block;
    margin: auto;
  }
  &__heading {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 270px;
    padding: 30px 0 15px 0;
  }
  &__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--grey);
    width: 270px;
  }
}
.heading-services {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 50px 41px 50px 41px;
}
.images-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  &__box {
    position: relative;
  }
  &__label {
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    margin: 0;
    position: absolute;
    top: 225px;
  }
}
