.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 0;
}
.section-customers-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 0;
  padding-bottom: 50px;
}
.customers-list {
  display: flex;
  justify-content: center;
  gap: 0 30px;
  list-style: none;
  padding-left: 0;
  cursor: pointer;
  &__box {
    width: 170px;
    border: 1px solid var(--border-customers);
    border-radius: 4px;
    fill: var(--border-customers);
    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__box:hover {
    border: 2px solid var(--brand-color);
    fill: var(--brand-color);
  }
}
