body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding-left: 0;

  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1200px;
  }
}
