:root {
  --brand-color: #2196f3;
  --white: #ffffff;
  --grey: #757575;
  --black: #000000;
  --less-black: #2f303a;
  --white-grey: rgba(255, 255, 255, 0.6);
  --less-white: #f5f4fa;
  --thin-line: #ececec;
  --shadow: #2f303a;
  --border-customers: #afb1b8;
}
